-- Adds JSONB columns to the projects table for tracking custom supply items and additional financial expenses
ALTER TABLE projects ADD COLUMN IF NOT EXISTS supply_items JSONB DEFAULT '[]'::jsonb;
ALTER TABLE projects ADD COLUMN IF NOT EXISTS additional_expenses JSONB DEFAULT '[]'::jsonb;
